<% layout('/layouts/boilerplate')%>
<div style="background-image: url('https://www.parksconservancy.org/sites/default/files/styles/basic/public/programs/PRSF_130326_APAZ_179_2x1.JPG?itok=YguufFlB');">

</div>